@import 'nib'

body
  top 0
  margin 0
  padding 0
  background #c44032
  color #f4f1de
  font-size 100%
  font-family "Montserrat", 'Arial', 'san-serif'

header
  margin 3.5% 0 4%

h1
  text-align center
  text-indent -.12em
  color #faf1de
  font-family "Arvo", 'sans-serif'
  font-weight 900
  display inline-block
  margin 0 auto
  line-height 1
  width 100%
  text-shadow #863027 .01em .01em 0, #863027 .02em .02em 0, #863027 .03em .03em 0, #863027 .04em .04em 0, #863027 .05em .05em 0, #863027 .06em .06em 0, #863027 .07em .07em 0, #863027 .08em .08em 0, #863027 .09em .09em 0, #863027 .1em .1em 0

a
  color #f4f1de

p
  font-size 1.2em

footer
  border-top .12em solid #f4f1de
  padding-top 2%
  margin-top 3%
  display block
  font-size .8em

.container
  width 75%
  margin 0 auto

.download
  font-family "Arvo", 'sans-serif'
  text-align left
  margin-bottom 0px

.download a
  text-decoration none

.download__link
  padding 0.3em .8em
  background url('../img/arrow.png') no-repeat
  background-size 100%
  margin-left .4em
  transition margin .15s ease-out
  text-decoration none
  &:hover
    color #f4f1de
    margin-left .6em
    margin-right -.2em

// test
pre
    font-family "Courier 10 Pitch", Courier, monospace
    font-size 95%
    line-height 140%
    white-space pre
    white-space pre-wrap
    white-space -moz-pre-wrap
    white-space -o-pre-wrap

code
    font-family Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
    font-size 95%
    line-height 140%
    white-space pre
    white-space pre-wrap
    white-space -moz-pre-wrap
    white-space -o-pre-wrap
    background #faf8f0

#content code
    display block
    padding 0.5em 1em
    border 1px solid #bebab0
